@charset "UTF-8" ;

body {
    background-color: #fa3d3d;
}

h1 {
    color: #59aa33;
    text-align: center;
    padding-top: 10px;
}

#forms {
    min-width: 350px;
    max-width: 1100px;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.534);
}

#login {
    color: white;
    background-color: #FF914D;
}

h2 {
    color: #FF914D;
    text-align: center;
}

label {
    padding-bottom: 10px;
}